@model IEnumerable<WebApplication.BLL.DataTransferObjects.CarModelDTO>


<h2>CarList</h2>
<section class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-10 row " style="background-color:aqua; margin-bottom:10px; ">
            <div class="car-picture" style=" margin-right:10px; margin-bottom:10px; margin-top:10px">
                <img class="content" src="~/Content/Avaible Cars/No_image.png" />
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="background-color:aliceblue; margin-right:10px;padding-bottom:10px; margin-bottom:10px; margin-top:10px">
                @Html.DisplayFor(modelItem => item.Manufacturer)
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Year)
                <p></p>
                <table>
                    <tr>
                        <td style="padding-right:10px;">
                            <img src="~/Content/Icons/Seats.png" />
                            @Html.DisplayFor(modelItem => item.PassengerCount) Места
                        </td>
                        <td>
                            <img src="~/Content/Icons/Doors.png" />
                            @Html.DisplayFor(modelItem => item.DoorCount) Дверей
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Content/Icons/Air conditioning.png" />
                            @if (item.AirConditioning == true)
                            {
                                <text>Да</text>
                            }

                            else
                            {
                                <text>"Нет"</text>
                            }
                        </td>
                        <td>
                            <img src="~/Content/Icons/Gearbox.png" />
                            @Html.DisplayFor(modelItem => item.GearBox)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Content/Icons/Luggage.png" />
                            @Html.DisplayFor(modelItem => item.LargeLuggageCount)
                        </td>
                        <td>
                            <img src="~/Content/Icons/Luggage small.png" />
                            @Html.DisplayFor(modelItem => item.SmallLuggageCount)
                        </td>
                    </tr>
                </table>

                <p style="margin:0;"></p>
                @Html.DisplayNameFor(model => model.QualityClass):
                @Html.DisplayFor(modelItem => item.QualityClass)
            </div>
            <div class="col-11 col-sm col-md col-lg col-xl" style="background-color:aliceblue; padding-bottom:10px; margin-bottom:10px; margin-top:10px">
                @Html.DisplayNameFor(model => model.Price):
                @Html.DisplayFor(modelItem => item.Price)

                @Html.ActionLink("Арендовать", "Details", "Car", new { id=item.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
    @*@if (Roles.IsUserInRole("admin"))
    {
        @Html.ActionLink("Add New", "Create", "Car")
    }*@
</section>



